.jenkins
  &__view
    &__job
      &__build
        &__status, &__colored_status
          font-size 1.6em
          &--building
            background-color $unknown-color
          &--success
            background-color $success-color
          &--failure
            background-color $failure-color
          &--aborted
            background-color $unknown-color
          &--unknown
            background-color $unknown-color
